<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.daybreak.androidsample">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".databinding.DataBindingActivity"
            android:label="@string/title_activity_data_binding"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="com.daybreak.androidsample.main_activity_list_item"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".materialdesign.MaterialDesignActivity"
            android:label="@string/title_activity_material_design"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="com.daybreak.androidsample.main_activity_list_item"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".animation.AnimationActivity"
            android:label="动画1"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="com.daybreak.androidsample.main_activity_list_item"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".animation.Animation2Activity"
            android:label="动画2"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="com.daybreak.androidsample.main_activity_list_item"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".customview.CustomViewActivity"
            android:label="Custom View">
            <intent-filter>
                <action android:name="com.daybreak.androidsample.main_activity_list_item"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".customview.SloopViewActivity">
        </activity>
        <activity android:name=".customview.PieViewActivity">
        </activity>
        <activity
            android:name=".customview.PlaygroundViewActivity"
            android:label="@string/title_activity_playground_view"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".customview.PictureActivity">
        </activity>
        <activity android:name=".customview.CheckViewActivity">
        </activity>
        <activity android:name=".customview.PathViewActivity">
        </activity>
        <activity android:name=".customview.Bezier2ViewActivity">
        </activity>
        <activity android:name=".customview.Bezier3ViewActivity">
        </activity>
        <activity android:name=".customview.PathMeasureActivity">
        </activity>
        <activity android:name=".customview.SearchViewActivity">
        </activity>
        <activity android:name=".customview.SetPolyToPolyViewActivity">
        </activity>
        <activity android:name=".customview.Rotate3dAnimationActivity">
        </activity>
        <activity android:name=".customview.RegionClickViewActivity">
        </activity>
        <activity android:name=".customview.RemoteControlMenuActivity">
        </activity>
        <activity android:name=".customview.MultiTouchViewActivity">
        </activity>
    </application>

</manifest>